In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline

In [49]:
covid_df = pd.read_csv('covid19casesdemographics.csv',sep=',')
covid_df.head()
print(covid_df.shape)
row_index = 'demographic_category'
covid_df = covid_df.set_index(row_index)
covid_df.head()

(13248, 8)

,demographic_value,total_cases,percent_cases,deaths,percent_deaths,percent_of_ca_population,report_date
demographic_category,,,,,,,
Age Group,0-17,855,2.3,0,0.0,22.5,2020-04-22
Age Group,0-17,936,2.4,0,0.0,22.5,2020-04-23
Age Group,0-17,1011,2.5,0,0.0,22.5,2020-04-24
Age Group,0-17,1039,2.5,0,0.0,22.5,2020-04-25
Age Group,0-17,1085,2.5,0,0.0,22.5,2020-04-26